# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

ios_quizlet_client.xcodeproj/xcuserdata/maximbilan.xcuserdatad/xcschemes/ios_quizlet_client.xcscheme
ios_quizlet_client.xcodeproj/xcuserdata/maximbilan.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/maximbilan.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maximbilan.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maximbilan.xcuserdatad/xcschemes/xcschememanagement.plist
